<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Drop Classes</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="assets/js/dropclass.js" type="text/javascript"></script>
</head>

<body style="background-color: #ffffff;">

    <script type="text/javascript">

    </script>
    
    <div style="padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;background-color: #f5f5f5;">
        <nav class="navbar navbar-light navbar-expand-lg d-lg-flex justify-content-lg-end align-items-lg-start navigation-clean" style="background-color: #184728;padding: 5px 5px 5px 5px;min-width: 300px;">
            <div class="container-fluid"><a href="home.html"><img style="width: 70px;height: 70px;margin: 0px;" src="assets/img/dlsulogo.png"><a class="navbar-brand" href="home.html" style="margin: 0px 0px 0px 10px;color: rgb(255,255,255);font-size: 30px;">ANIMO.SYS</a></a>
                <div class="collapse navbar-collapse" id="navcol-1"
                    style="color: rgb(255,255,255);">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="home.html" style="color: rgb(255,255,255);">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="view-courseoffer.html" style="color: rgb(255,255,255);">Course Offerings</a></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);">Enlistment</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="addclass.html">Add Classes</a><a class="dropdown-item" role="presentation" href="dropclass.html">Drop Classes</a><a class="dropdown-item" role="presentation" href="swapclass.html">Swap Classes</a></div>
                        </li>
                    </ul><a href="vieweaf.html" style="color: rgb(255,255,255);padding: 8px 18px;">Enrolled Courses</a>
                    <div class="dropdown" style="color: #efe8d7;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #efe8d7;">User</a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu"><a class="dropdown-item" role="presentation" href="userprofile.html">Profile</a><a class="dropdown-item" role="presentation" href="login.html">Log Out</a></div>
                    </div>
                </div>
            </div>
        </nav>
        <div style="padding: 10px 30px 0px 30px;">
            <h1 class="d-inline-block float-none" style="margin: 0px 0px;color: #555555;font-size: 30px;font-family: Roboto, sans-serif;"><strong>Drop Classes</strong></h1>
            <p class="d-inline-block float-none" style="margin: 0px 5px 0px 5px;color: #888888;font-family: Roboto, sans-serif;">Enter the course code of the class you want to drop.</p>
        </div>
        <hr style="background-color: #a0a0a0;margin: 0px;">
        <div class="float-left" style="width: 100%;padding: 0px 30px 0px 30px;"><button class="btn btn-primary text-center float-right" type="submit" style="font-family: Roboto, sans-serif;background-color: #427f50;padding: 2px;margin: 5px;width: 5%;">Enter</button><input class="form-control-sm float-right" type="search"
                placeholder="Enter Class Number" style="margin: 5px;width: 15%;">
            <h3 class="d-inline-block float-none" style="margin: 0px 0px;color: #555555;font-size: 25px;font-family: Roboto, sans-serif;padding: 10px 0px  5px 0px;width: 50%;"><strong>My Classes</strong><br></h3>
            <hr style="background-color: #427f50;margin: 0px;height: 2px;width: 100%;">
            <ul class="list-group" id="myclasses">
                <li class="list-group-item text-left d-inline-block flex-row"><span class="float-left" style="width: 10%;padding: 10px 10px 10px 10px;height: 24px;"><strong>Class No.</strong></span><span class="float-left" style="width: 10%;padding: 10px 10px 10px 10px;height: 24px;"><strong>Course Code</strong></span>
                    <span
                        class="text-left float-left" style="width: 30%;padding: 10px 10px 10px 10px;"><strong>Course Name</strong></span><span class="float-left" style="width: 10%;padding: 10px;"><strong>Section</strong></span><span class="float-left" style="padding: 10px;width: 20%;"><strong>Class Schedule</strong></span><span class="float-left"
                            style="padding: 10px;width: 10%;"><strong>Room</strong></span></li>
            </ul>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>