<!DOCTYPE html>

<nav class="navbar navbar-light navbar-expand-lg d-lg-flex justify-content-lg-end align-items-lg-start navigation-clean" style="background-color: #184728;padding: 5px 5px 5px 5px;min-width: 300px;">
    <div class="container-fluid">
        <a href="/home"><img style="width: 70px;height: 70px;margin: 0px;" src="assets/img/dlsulogo.png">
        <a class="navbar-brand" href="/home" style="margin: 0px 0px 0px 10px;color: rgb(255,255,255);font-size: 30px;">ANIMO.SYS</a></a>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/home" style="color: rgb(255,255,255);"> Home </a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/register" style="color: rgb(255,255,255);"> Register </a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/login" style="color: rgb(255,255,255);padding: 8px 18px;"> Login </a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>