<!DOCTYPE html>
<nav class="navbar navbar-light navbar-expand-lg d-lg-flex justify-content-lg-end align-items-lg-start navigation-clean" style="background-color: #184728;padding: 5px 5px 5px 5px;min-width: 300px;">
    <div class="container-fluid">
        <a href="/home"><img style="width: 70px;height: 70px;margin: 0px;" src="assets/img/dlsulogo.png">
        <a class="navbar-brand" href="/home" style="margin: 0px 0px 0px 10px;color: rgb(255,255,255);font-size: 30px;">ANIMO.SYS</a></a>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/home" style="color: rgb(255,255,255);"> Home </a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/viewcourses" style="color: rgb(255,255,255);"> Course Offerings </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);"> Enlistment 
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="/addclass"> Add Classes </a>
                        <a class="dropdown-item" role="presentation" href="/dropclass"> Drop Classes </a>
                        <a class="dropdown-item" role="presentation" href="/swapclass"> Swap Classes </a>
                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/vieweaf" style="color: rgb(255,255,255);padding: 8px 18px;"> Enrolled Courses </a>
                </li>
            </ul>
           
            <div class="dropdown" style="color: #efe8d7;">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: white;"> {{ userName }} </a>

                <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" role="presentation" href="/userprofile"> Profile </a>
                    <a class="dropdown-item" role="presentation" href="/verification"> Verify Account </a>
                    <form method="POST" action="/logout">
                      <input type="hidden" name="name" value="value" /> 
                      <a onclick="this.parentNode.submit();" class="dropdown-item" role="presentation"> Log Out </a>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</nav>