<!DOCTYPE html>

<div class='errorCon'>
		<img class='errimg' src="assets/img/error.png" />
        <h1 class='errstatus'> {{errorCode}} </h1>
        <p class='errmsg'> {{errorMssg}} </p><br/>
        <a class="errorbtn" href=''> Go to Home </a>
</div>