<!DOCTYPE html>

<div class='errorCon'>
		<img class='errimg' src="../../assets/img/error.png"/>
        <h3 class='errstatus'> Error {{errorCode}} </h3>
        <p class='errmsg'> {{errorMssg}} </p> <br/>
        <a class="errorbtn" href='/'> Go to Home </a>
</div>