{{> navbar}}
<title> Home </title>

<div class="img-div">
    <div class="image-holder"></div>
</div>

<div class="container text-center pt-4">
    <div class="row">
        <div class="col-4">
            <img src="assets/img/search.png" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="assets/img/shop.png" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="assets/img/list.png" class="img-fluid">
        </div>
    </div>
</div>

<div class="container text-center pt-4">
    <div class="row py-5">
        <div class="col-4">
            <button type="button" class="btn btn-primary" id="offers" location.href="view-courseoffer.html">View Course Offerings
            </button>
        </div>
        <div class="col-4 dropdown">
            <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-expanded="false" href="userprofile.html" style="color: #ffffff;">Enlistment</a>
                <div class="dropdown-menu down" role="menu">
                    <a class="dropdown-item" role="presentation" href="addclass.html">Add Classes</a>
                    <a class="dropdown-item" role="presentation" href="dropclass.html">Drop Classes</a>
                    <a class="dropdown-item" role="presentation" href="swapclass.html">Swap Classes</a>
                </div>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary" id="courses" location.href="vieweaf.html">Enrolled Courses</button>
        </div>
    </div>
</div>