<!DOCTYPE html>

<title>Login</title>

<div id="login-container"> 
	<div class="modal-dialog text-center">
		<div class="col-sm-9 main-section">
			<div class="modal-content">
				<div class="col-12 logo-img">
					<img src="assets/img/logo.png">
				</div>
				<form method="POST" id="login" name="login">
					<div class="col-12 form-input">
						<div class="login-form-group">
							<input type="text" class="form-control" placeholder="Email" id="email" name="email">
							<p id="emailError" class="error"> {{emailError}} </p>
						</div>

						<div class="login-form-group">
							<input type="password" class="form-control" placeholder="Password" id="password" name="password">
							<p id="pwError" class="error"> {{pwError}} </p>
						</div>

						<button type="button" class="btn btn-success" id="login-btn">Login</button>
					</div>
				</form>
				<div class="col-12 register">
					Don't have an account? <a href="/register"> Register here </a>
				</div>
			</div>
		</div>
	</div>
</div>
