<!DOCTYPE html>

<title>Verification</title>

<div id="login-container"> 
	<div class="modal-dialog text-center">
		<div class="col-sm-9 main-section">
			<div class="modal-content">
				<div class="col-12 logo-img">
					<img src="assets/img/logo.png">
				</div>
				<form method="POST">
					<div class="col-12 form-input">
						<div class="login-form-group">
							<input type="number" class="form-control" placeholder="OTP" id="otp" name="otp">
							<p id="otpError" class="error"></p>
						</div>
						<button type="button" class="btn btn-success" id="verifySubmit">Verify</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
